.board {
  padding: 20px
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 33.3%;
}

.square {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

.wrapper {
  height: 800px;
  width: 1500px;
  display: inline-grid;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.wrapper > div {
  text-align: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

img:focus {
  outline: none
}
